PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE students (
	id INTEGER NOT NULL, 
	name VARCHAR, 
	address VARCHAR, 
	neighbour VARCHAR, 
	city VARCHAR, 
	state VARCHAR, 
	postal_code VARCHAR, 
	PRIMARY KEY (id)
);
INSERT INTO students VALUES(1,'Agatha da Costa','Via Cauã Rezende','Paraíso','da Mata','São Paulo','29093-532');
INSERT INTO students VALUES(2,'Benício das Neves','Rua de da Paz, 86','Capitão Eduardo','Pereira de Rodrigues','Rio de Janeiro','83392-182');
INSERT INTO students VALUES(3,'Júlia da Paz','Praia Moraes, 25','Conjunto Taquaril','Jesus de Goiás','Goiás','15319-202');
CREATE INDEX ix_students_id ON students (id);
COMMIT;